
.navbar{
    background-color: #f5ba17;
    background-image: url(https://www.transparenttextures.com/patterns/checkered-light-emboss.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    grid-gap: 50rem;
}
@media (max-width: 768px){
    .navbar{
        grid-gap: 0;
    }
}
.navbar h2{
    color: rgb(32, 32, 31);
}

.logo-div a{
    color: rgba(114, 52, 34, 0.863);
    text-decoration: none;
}

.logo-div div{
    display: flex;
}

/* Search bar and results */


.navbar-list{
    list-style-type: none;
}
.navbar-list-item{
    display: inline-block;
    padding: 0.2rem 1rem;

}
.navbar-list-item a{
    text-decoration: none;   
    color: rgb(222, 247, 245);  
    font-size: 1.15rem;  
}
.navbar-list-item a:active{
      
    color: rgb(248, 204, 81); 
    
}

.quantity{
    position: absolute;
    top: 10px;
    width: 20px;
    border-radius: 2rem;
    background-color: rgb(245, 82, 82);
    font-size: 1rem;
}
.selected{
    color:rgb(248, 204, 81);
    border-bottom: solid 1px rgb(248, 204, 81);
}

.navProfile{
    height: 40px;
    width:40px;
    border-radius: 2rem;
}