.homepage-container{
    display: flex;
    
    padding-top: 4rem;
    background-color: var(--white-color);
    height: 100%;
}

.center-div{
    position: relative;
    height: 100%;
    left: 20%;
    /* background-color: blue; */
    width: 60%;
    display: flex;
    flex-direction: column;
    

}
/* 1907 */
@media (max-width: 768px){
    .center-div{
        width: 100%;
        left:0;
    }
    .searchbar-div {
        margin: 3.5rem auto 1rem;
        width: 80%;
    }
    .post-card-container-div{
        margin: auto;
        width: 90%;
    }
}
.kitty{
    mix-blend-mode: darken;
    height: 22rem;
    width: 16rem;
}

