.editProfileForm-container{
    position:fixed;
    height: 100vh;
    background-color: rgb(73, 71, 71, 0.8);
    width: 100vw;
    z-index: 100;
    top: 0;
    right: 0;
    
}

.editProfileForm{
    display:flex;
    flex-direction: column;
    
    height: fit-content;
    width: 50%;
    margin: auto;
    text-align: center;
}
.editProfileForm h2{
    color:var(--primary-color);;
}
.editProfileForm form{
    display: flex;
    flex-direction: column;
}
.editProfileForm form input{
    margin:0.5rem auto;
    padding:0.5rem;
    height:1rem;
    border-radius: 2rem;
    border: none;
    width: 40%;
}

.editProfileForm button{
        margin:0.5rem auto;
        width:40%;
        background-color: var(--primary-color);
        height: 2rem;
        border:none;
        border-radius: 2rem;
        color: var(--black-color);
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        cursor: pointer;
    
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
  }
  
  /* Stuff after this is only to make things more pretty */
  input[type=radio] + label>img {
    border: 1px double var(--primary-color);
    width: 50px;
    height: 50px;
    transition: 500ms all;
  }

.avatar-radio-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.avatar-radio-div .avatar-radio-inputs{
    width: fit-content;
    margin: 0rem 1rem;
}

label{
color: var(--white-color); 
}